@model IEnumerable<TalentConsulting.TalentSuite.Report.UI.Web.Models.ReportModel>

<br/>
<br/>
<table class="table">
        <tdead>
            <tr>
                <th>Id</th>
            </tr>
        </tdead>
            <tbody>
                @foreach (var item in Model)
               {
                    <tr>
                        <td>@item.Id</td>
                    </tr>
               }
            </tbody>
    </table>
</div>
